<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plant-Swap{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css', v=1) }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/map.js', v=1) }}" defer></script>
</head>

<body>
    <div class="container">
        <header class="d-flex justify-content-between align-items-center py-3">
            <h1 class="text-success">
                <a href="{{ url_for('main.home') }}" class="text-decoration-none text-success">Plant-Swap</a>
            </h1>
            <div>
            <a href="{{ url_for('main.home') }}" class="btn btn-secondary">Home</a>
        {% if current_user.is_authenticated %}
            <span class="me-2">Hello, {{ current_user.username }}!</span>
            <a href="{{ url_for('main.user_domain') }}" class="btn btn-success">My Account</a>
            <a href="{{ url_for('main.logout') }}" class="btn btn-danger">Logout</a>
        {% else %}
            <a href="{{ url_for('main.login') }}" class="btn btn-primary">Login</a>
            <a href="{{ url_for('main.register') }}" class="btn btn-success">Register</a>
        {% endif %}
            </div>
        </header>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="container mt-3">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}
        <!-- Content will go here -->
        {% endblock %}

        <footer class="text-center py-3 mt-5">
            <p>&copy; 2025 Plant-Swap. All Rights Reserved.</p>
        </footer>
    </div>
</body>

</html>
